<div class="w-100 builder-container" fxLayout="row">
    <div fxFlex="25" class="w-100 builder-source">
      <h4>Source</h4>
  
      <ngx-dnd-container
        class="root-container"
        [model]="sourceBuilderTools"
        [dropZones]="['builder-target']"
        [copy]="true"
        [droppableItemClass]="droppableItemClass"
        (drag)="builderDrag($event)"
        direction="mixed">
  
        <ng-template let-item="model">
            <div [ngSwitch]="item.inputType" class="w-100">
                <div *ngSwitchCase="'string'" class="w-100">
                    <mat-form-field appearance="fill" class="w-100 pl-4">
                        <mat-label>{{item.name}}</mat-label>
                        <input matInput type="text" readonly>
                    </mat-form-field>
                </div>
                
                <div *ngSwitchCase="'number'" class="w-100">
                    <mat-form-field appearance="fill" class="w-100 pl-4">
                        <mat-label>{{item.name}}</mat-label>
                        <input matInput type="number" readonly>
                    </mat-form-field>
                </div>
                
                <div *ngSwitchCase="'select'" class="w-100">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select</mat-label>
                        <mat-select readonly>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div *ngSwitchCase="'textarea'" class="w-100">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Textarea</mat-label>
                        <textarea matInput readonly></textarea>
                    </mat-form-field>
                </div>
                
                <div *ngSwitchCase="'radio_vert'" class="w-100">
                    <label id="example-radio-group-label">Pick your favorite season</label>
                    <mat-radio-group class="example-radio-group">
                        <mat-radio-button class="example-radio-button" value="1">Option 1</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="2">Option 2</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="3">Option 3</mat-radio-button>
                        <mat-radio-button class="example-radio-button" value="4">Option 4</mat-radio-button>
                    </mat-radio-group>
                </div>
                
                <div *ngSwitchCase="'radio_hor'" class="w-100">
                    <mat-radio-group aria-label="Select an option" class="w-100 mat-radio-button1">
                        <mat-radio-button class="mat-radio-button1" value="1">Option 1</mat-radio-button>
                        <mat-radio-button class="mat-radio-button1" value="2">Option 2</mat-radio-button>
                    </mat-radio-group>
                </div>
                
                <div *ngSwitchCase="'date'" class="w-100">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div *ngSwitchCase="'section'" class="w-100">
                    <i [class]="item.icon"></i>
                    {{item.name}}
                </div>
            </div>
        </ng-template>
      </ngx-dnd-container>
  
    </div>
    <div fxFlex class="w-100 builder-target">
      <h4>Target</h4>
  
      <ngx-dnd-container
        class="root-container"
        [model]="targetBuilderTools"
        dropZone="builder-target"
        [removeOnSpill]="true"
        [droppableItemClass]="droppableItemClass"
        (drag)="log($event)"
        (drop)="log($event)"
        (over)="log($event)"
        (out)="log($event)"
        (remove)="log($event)"
        direction="mixed">
  
        <ng-template let-model="model" let-template="template">
          <div [ngSwitch]="model.inputType">
            <div *ngSwitchCase="'section'">
              <div class="shadow">
                {{model.name}}
                <ngx-dnd-container
                  dropZone="builder-target"
                  [model]="model.children"
                  [removeOnSpill]="true"
                  [template]="template"
                  [droppableItemClass]="droppableItemClass"
                  (drag)="log($event)"
                  (drop)="log($event)"
                  (over)="log($event)"
                  (out)="log($event)"
                  (remove)="log($event)"
                  (cancel)="log($event)"
                  direction="mixed">
                </ngx-dnd-container>
              </div>
            </div>
            
            <div *ngSwitchCase="'string'" class="w-100">
                <mat-form-field appearance="fill" class="w-100 pl-4">
                    <mat-label>{{model.name}}</mat-label>
                    <input matInput type="text" readonly>
                </mat-form-field>
            </div>
            
            <div *ngSwitchCase="'number'" class="w-100">
                <mat-form-field appearance="fill" class="w-100 pl-4">
                    <mat-label>{{model.name}}</mat-label>
                    <input matInput type="number" readonly>
                </mat-form-field>
            </div>
            
            <div *ngSwitchCase="'select'" class="w-100">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Select</mat-label>
                    <mat-select readonly>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div *ngSwitchCase="'textarea'" class="w-100">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput readonly></textarea>
                </mat-form-field>
            </div>
            
            <div *ngSwitchCase="'radio_vert'" class="w-100">
                <label id="example-radio-group-label">Pick your favorite season</label>
                <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button" value="1">Option 1</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="2">Option 2</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="3">Option 3</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="4">Option 4</mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div *ngSwitchCase="'radio_hor'" class="w-100">
                <mat-radio-group aria-label="Select an option" class="w-100 mat-radio-button1">
                    <mat-radio-button class="mat-radio-button1" value="1">Option 1</mat-radio-button>
                    <mat-radio-button class="mat-radio-button1" value="2">Option 2</mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div *ngSwitchCase="'date'" class="w-100">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
          </div>
        </ng-template>
      </ngx-dnd-container>
    </div>
</div>
<div>
    <h3>Model</h3>
    <pre><code>{{targetBuilderTools | json}}</code></pre>
</div>