@import "../../../../@fuse/scss/fuse";
// Import app.theme.scss
@import "../../../../@fuse/scss/core";
@import "../../../../app/app.theme";

.form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        height: 100%;
        // max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .mat-form-field-underline::before {
        background-color: rgba(0, 0, 0, 0.40) !important;
    }
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    height: 64px;
}

.bottom-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    bottom: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}