<div id="timeline" class="p-16" fxLayout="row wrap">

    <div class="timeline-content " fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
        >

        <mat-card>
            <mat-card-content class="pb-14 fg-darkGray text-justify"> Los empleadores mirarán tu perfil y tus reseñas
                antes de seleccionarte como su Tareador.
                <br>
                Es importante que des una buena impresión:
                <ul>
                    <li>Manten tu perfil actualizado </li>
                    <li>Asegúrate de recibir buenas calificaciones de tus empleadores. </li>

                </ul>
                <br>
                Esto te dará mayores oportunidades de ser seleccionados por otros empleadores.
           
           <br>
           <br>
        <div class="timeline-item " >

            <header fxLayout="row" fxLayoutAlign="center center">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img src="assets/images/logos/tareazos_avatar-01.png" class="avatar" />

                    <div fxLayout="column">
                        <div class="font-weight-600 font-size-14">
                            <span class="username"></span>
                        </div>
                        <div class="time">
                            <button class="reviews" mat-icon-button color="accent"
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="font-size-20">star</mat-icon>
                            </button>
                            <button class="reviews" mat-icon-button color="accent"
                                aria-label="Example icon button with a home icon">
                                <mat-icon class="font-size-20">star</mat-icon>
                            </button>
                            <button class="reviews" mat-icon-button color="accent"
                                aria-label="Example icon button with a menu icon">
                                <mat-icon class="font-size-20">star</mat-icon>
                            </button>
                            <button class="reviews" mat-icon-button color="accent"
                                aria-label="Example icon button with a heart icon">
                                <mat-icon class="font-size-20">star</mat-icon>
                            </button>
                            <button class="reviews" mat-icon-button color="accent"
                                aria-label="Example icon button with a open in new tab icon">
                                <mat-icon class="font-size-20">star</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- <button mat-icon-button aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                </button> -->
            </header>
        </div>
            </mat-card-content>
        </mat-card>
        <!--   <div class="profile-box add-post">

            <div class="form" fxFlex>

                <mat-form-field appearance="fill" class="h-121 w-100">
                    <mat-label>Escribe tu comentario...</mat-label>
                    <textarea class="h-90" matInput></textarea>
                </mat-form-field>

                <div class="pt-8" fxLayout="row" fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <button mat-icon-button aria-label="Add photo" matTooltip="Add Photo">
                            <mat-icon>photo</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Mention somebody" matTooltip="Mention somebody">
                            <mat-icon>person</mat-icon>
                        </button>

                        <button mat-icon-button aria-label="Add location" matTooltip="Add location">
                            <mat-icon>location_on</mat-icon>
                        </button>

                    </div>

                    <button mat-button color="primary" class="post-button" aria-label="POST">POST</button>

                </div>

            </div>

        </div> -->


    </div>

    <!--  <div class="timeline-sidebar pl-16" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">

        
        <h2 class="pb-20 fg-darkGray">Actividades recientes</h2>
        <div class="profile-box latest-activity" fxLayout="column">

            <div class="content" fxLayout="row wrap">
                <div class="activities">
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start"
                         *ngFor="let activity of timeline.activities">
                        <img [src]="activity.user.avatar" class="avatar" alt="{{activity.user.name}}"/>

                        <div fxLayout="column">
                            <div>
                                <span class="username">{{activity.user.name}}</span>
                                <span class="message"> {{activity.message}}</span>
                            </div>
                            <span class="time secondary-text">{{activity.time}}</span> -->
    <!-- </div> 
                    </div>
                </div>
            </div>
        </div> -->
</div>