<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Tareas
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a product">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <!-- <button mat-raised-button
                    [routerLink]="'/ecommerce/products/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>ADD NEW PRODUCT</span>
            </button> -->
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.data.docId}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <!--    <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image"
                             *ngIf="product.data.featuredImageId" [alt]="product.data.name"
                             [src]="product.data.images[product.data.featuredImageId].url"/>
                        <img *ngIf="!product.data.featuredImageId"
                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>category</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.data.category}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>title</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.data.title}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="subcategory">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>subcategory</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{product.data.subcategory}}
                        </p>
                    </mat-cell>
                </ng-container>


                <!-- Price Column -->
                <ng-container matColumnDef="createDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>createDate</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            <!-- {{product.data.priceTaxIncl | currency:'USD':'symbol'}} -->
                            {{product.data.createDate.seconds * 1000 | date:'MM-dd-yyyy HH:mm' }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="authorname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>authorname</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>
                        <span class="quantity-indicator text-truncate"> example
                        </span>
                        <span>
                            {{product.data.authorname}}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>status</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{product.data.status}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="requestCancel">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>requestCancel
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate" *ngIf="product.data.requestCancellation">
                            solicitó cancelación
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <button mat-button color="warn" (click)="updateStatus(product); $event.stopPropagation()"
                            *ngIf="product.data.status !== 'Cancelled'">Cancelar</button>
                        <button mat-button color="warn" (click)="deleteTask(product); $event.stopPropagation()">Eliminar
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple
                    [routerLink]="'/tasks/product/'+product.data.docId">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>