
<div id="timeline" class="p-24" *ngIf="requestDetails">

    <div class="timeline-content" fxLayout="column"  fxFlex>


        <div class="timeline-item changeWidth" >

            <header fxLayout="row" fxLayoutAlign="space-between center">
                <div class="user" fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" >

                    <div fxLayout="column">
                        <div class="title">
                            <span class="username">{{ requestDetails.title }}</span>
                            <span ></span>
                           <!--  <span *ngIf="post.type === 'something'">shared something with you</span>
                            <span *ngIf="post.type === 'video'">shared a video with you</span>
                            <span *ngIf="post.type === 'article'">shared an article with you</span> -->
                        </div>
                        <div class="time" *ngIf="requestDetails.createDate">{{ requestDetails.createDate.seconds * 1000 | date:'MM-dd-yyyy' }}</div>
                    </div>
                </div>

                <button mat-icon-button aria-label="More">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </header>

            <div class="content">
                <div  class="message" *ngIf="requestDetails.title">
                  {{ requestDetails[requestDetails.title].TaskDescription}}
                </div>

                <div class="media">
                   <!--  <img *ngIf="post.media.type === 'image'" [src]="post.media.preview">
                    <div *ngIf="post.media.type === 'video'" [innerHtml]="post.media.embed"></div> -->
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button class="like-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">favorite</mat-icon>
                            <span>Like</span>&nbsp;<span>likes</span>
                        </span>
                    </button>
                    <button mat-button class="share-button">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16">share</mat-icon>
                            <span>Share</span>&nbsp;<span>--</span>
                        </span>
                    </button>
                </div>
            </div>

            <footer class="" fxLayout="column" fxLayoutAlign="start start">
                <div *ngIf="(requestOffers | async)?.length==0"  class="comment-count" fxLayout="row" fxLayoutAlign="start center">
                    No has recibido ofertas todavía
                </div>
                <div *ngIf="(requestOffers | async)?.length>0"  class="comment-count" fxLayout="row" fxLayoutAlign="start center">
                    Ofertas: ({{(requestOffers | async)?.length}})
                    <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                </div>

                <div class="comment" fxLayout="row" fxFlexFill *ngFor="let offer of requestOffers | async"  >
                    <img class="avatar"/>

                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="username">Oferta de {{offer.data.user}}:</span>
                            <span class="time">| Precio Ofrecido {{offer.data.Price}}</span>
                        </div>
                        <div class="message">
                           {{offer.data.Comments}} 
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
                            <a href="#" class="reply-button">Reply</a>
                            <mat-icon fxFlex class="report-button s-16">flag</mat-icon>
                        </div>
                    </div>
                </div>

                <div class="reply" fxLayout="row" >
                    <img src="assets/images/avatars/profile.jpg" class="avatar"/>

                    <form fxFlex>
                        <textarea placeholder="Add a comment..."></textarea>
                        <button mat-raised-button color="accent" class="post-comment-button" aria-label="Post Comment">
                            Post Comment
                        </button>
                    </form>
                </div>
            </footer>
        </div>
    </div>

    <div class="timeline-sidebar" fxLayout="column" fxLayoutAlign="start center" fxFlex fxLayout.gt-md="100">

        <div class="profile-box latest-activity" fxLayout="column" fxFill>

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Tareadores disponibles</div>
                <div class="more secondary-text">See All</div>
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="activities">
                    <div class="activity" *ngFor="let provider of providers | async" fxLayout="row" fxLayoutAlign="start start"
                         >
                        <img  class="avatar" />

                        <div fxLayout="column">
                            <div>
                                <span class="username">{{provider.data.Generales.FirstName}}</span>
                                <span class="message"> {{provider.data.Generales.FirstName}}</span>
                            </div>
                            <span class="time secondary-text">{{provider.data.createDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


