@import "../../../assets/mdb/scss/bootstrap/bootstrap.scss";

html,
body {
    display: inherit !important;
    overflow: inherit !important;
}

app-cargos-comisiones {
    width: 100% !important;

    p {
        font-size: 16px;
        line-height: 1.5em;
    }

    li {
        font-size: 16px;
        line-height: 1.5em;
    }

    .menu {
        padding-top: 60px;
        position: fixed;
        z-index: 10;
    }

    .icon-white {
        color: white !important;
    }

    .icon-white:hover {
        color: #f08621 !important;
    }

    .h-207 {
        height: 207px;
    }

    .h-100 {
        height: 100%;
    }

    .img-50 {
        width: 50%;
    }

    .bg-pronto {
        background: #ffdfb3 !important;
    }

    .example-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #eee;
    }

    .mat-toolbar {
        height: 60px;
        position: fixed;
        top: 0; /* Sets the sticky toolbar to be on top */
        z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    }

    .img {
        width: 100%;
        height: 225px;
    }

    .img-pasos {
        width: 40vw !important;
    }

    .img-pasosMobile {
        width: 100vw !important;
    }

    .bg-pasos {
        background: linear-gradient(
            180deg,
            rgba(35, 83, 115, 1) 0%,
            rgba(14, 49, 72, 1) 100%
        );
    }

    .img-services {
        width: 100px !important;
        padding-left: 30px !important;
        padding-top: 24px !important;
    }

    .t--90 {
        transform: translateY(-90px);
    }

    .mt--65 {
        transform: translateY(-65px);
    }

    .mb--40 {
        margin-bottom: -40px !important;
    }

    .mr-50 {
        right: 50px;
    }

    .h-900 {
        height: 900px;
    }

    i,
    mat-icon {
        width: unset;
        height: unset;
    }

    .shime-i {
        width: 54px;
        height: 50px;
        margin-top: 30px !important;
        margin-left: 30px !important;
    }

    .shime-h2 {
        width: 100%;
        height: 35px;
    }

    .shime-p {
        width: 100%;
        height: 20px;
    }

    .fa,
    .far,
    .fas {
        font-family: "Font Awesome 5 Free" !important;
    }

    body.theme-default .icon,
    body.theme-default i {
        color: currentColor;
    }

    body > nav .menu-brand img {
        max-height: unset !important;
        // margin-top: -28px !important;
        margin-left: -28px !important;
        height: 100px !important;
        width: 280px !important;
    }

    .new-form {
        width: 50%;
        margin: auto;
    }
    .new-formMobile {
        width: calc(100% + 60px);
        margin: auto;
        margin-left: -30px !important;
        background-color: white;
    }

    .backButton {
        background-color: transparent !important;
        position: absolute;
        z-index: 1;
        top: 7px;
        margin: auto;
        margin-left: 25%;
        // margin-top: 10px;
    }
    .backButtonMobile {
        background-color: transparent !important;
        position: absolute;
        z-index: 1;
        top: 7px;
        margin: auto;
        margin-left: -30px;
        transform: translateY(-90px);
        // margin-top: 10px;
    }

    .example-spacer {
        flex: 1 1 auto;
    }

    body.theme-default a {
        color: #fff;
    }

    .tab-nav li:not(.active):not(:hover) a,
    .btn.btn-border:hover,
    .btn.btn-border.active {
        color: rgb(0, 71, 103);
        background-color: #fff;
    }

    .pl-274 {
        padding-left: 274px;
    }

    .pb-300 {
        padding-bottom: 300px !important;
    }

    .title h2 {
        font-size: 24px !important;
        font-weight: 600 !important;
        line-height: 30px !important;
    }

    .iconsMat {
        width: 100%;
        height: 100%;
        font-size: 256px;
    }

    .h-256 {
        height: 256px;
    }

    .bannerTitle {
        font-size: 3.74em;
        line-height: 1.07em;
    }

    .bannerSubtitle {
        font-size: 1.9em;
        line-height: 1.1em;
    }

    .section-image {
        background-position-y: 60px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #98bbe1;
    }

    .section-image-mobile {
        background-position: top;
        background-repeat: no-repeat;
        background-color: #bdd8e5;
        background-position-y: 15px;
    }

    .bannerText {
        margin-left: -12px;
        backdrop-filter: blur(25px) saturate(100%);
        background: rgba(255, 255, 255, 0.65);
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
    }

    .section-bg {
        background-color: #f5f5f5 !important;
    }

    .arrow {
        width: 100px;
        padding: 12px 12px 12px 15px;
        height: 268px;
    }

    .horizontal-scroll-wrapper {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    a {
        text-decoration: none !important;
    }

    $finalHeight: 350px;
    $finalWidth: 3 * $finalHeight;
    $scrollBarHeight: 1px;

    ::-webkit-scrollbar {
        width: $scrollBarHeight;
        height: $scrollBarHeight;
    }

    ::-webkit-scrollbar-button {
        width: $scrollBarHeight;
        height: $scrollBarHeight;
    }

    body {
        // background: #111;
    }

    div {
        box-sizing: border-box;
    }

    .horizontal-scroll-wrapper {
        position: absolute;
        display: block;
        top: 0;
        //   left: 72px;
        width: calc(#{$finalHeight} + #{$scrollBarHeight});
        max-height: 1140px;
        margin: 0;
        padding-top: $scrollBarHeight;
        //   background: #abc;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg) translateY(-$finalHeight) !important;
        transform-origin: right top;
        & > div {
            display: block;
            padding: 5px;
            // background: #cab;
            transform: rotate(90deg);
            transform-origin: right top;
        }
    }

    .squares {
        padding: $finalHeight 0 0 0;
        & > div {
            width: $finalHeight;
            height: $finalHeight;
            margin: 10px 0;
        }
    }

    .bg-f3 {
        background-color: #f3f3f3 !important;
    }

    .section-yellow {
        background-color: #f9f5ec !important;
    }

    .controls-top {
        width: 100%;
        height: 100%;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        position: absolute;
    }

    .carousel-multi-item .controls-top .btn-floating {
        background: #4285f4;
        border-radius: 0;
        height: 100%;
        margin: 0;
    }

    .carousel-multi-item .carousel-indicators {
        height: 0;
        display: none;
    }

    .carousel-multi-item {
        margin-bottom: 0 !important;
    }

    .carousel-inner {
        margin-left: 62px !important;
        width: calc(100% - 112px) !important;
    }

    .btn-floating:hover {
        box-shadow: none !important;
    }

    .btn-floating {
        box-shadow: none !important;
    }

    i.fas.fa-chevron-left {
        padding-top: 80px !important;
    }

    i.fas.fa-chevron-right {
        padding-top: 80px !important;
    }

    .carousel-multi-item .controls-top .btn-floating {
        background-color: transparent !important;
    }

    .mdb-carouselMobile .carousel {
        margin-left: -30px !important;
        width: calc(100% + 60px) !important;

        .carousel-inner {
            margin-left: 47px !important;
            width: calc(100% - 93px) !important;
        }
    }
}
