<div fxLayout="column">

    <div>
        <mat-toolbar class="transparent m-0" *ngIf="dialogRef.id !== undefined">
            <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title"></span>
                <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div id="login-form" [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix class="secondary-text">profile</mat-icon>
                    <mat-error *ngIf="loginForm.get('name').hasError('required')">
                        Nombre es requerido
                    </mat-error>

                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastname">
                    <mat-icon matSuffix class="secondary-text">profile</mat-icon>
                    <mat-error *ngIf="loginForm.get('lastname').hasError('required')">
                        Apellido es requerido
                    </mat-error>

                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="cellphone">
                    <mat-icon matSuffix class="secondary-text">mobile</mat-icon>
                    <mat-error *ngIf="loginForm.get('cellphone').hasError('required')">
                        Celular es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" appSpecialCharacter=" ">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-checkbox class="condiciones" formControlName="isTasker">
                    <p class="font-size-16 line-height-18 text-left">Quiero registrarme como Tareador</p>
                </mat-checkbox>

                <div fxLayout="column">
                    <p class="p-20 font-size-14 line-height-18 text-justify">
                        En este momento, nos encontramos en proceso de reclutamiento de tareadores únicamente.
                        Pronto podrás registrarte para publicar tareas desde nuestra app.
                    </p>
                </div>

                <button type="button" mat-flat-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="loginForm.invalid" (click)="signUp()">
                    Unirme a Tareazos
                </button>
            </form>
            <mat-divider></mat-divider>
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">¿Ya tienes una cuenta?</span>
                <a href="javascript:void(0);" class="link pb-20" (click)="btnLogin()">Inicia sesión</a>
            </div>

            <div class="separator" *ngIf="this.loginForm.get('isTasker').value != true">
                <span class="text">O únete con</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="center start" *ngIf="this.loginForm.get('isTasker').value != true">
                <button mat-button color="primary" aria-label="Google" (click)="loginWithGoogle()">
                    <img src="https://www.clicktoaction.com.mx/wp-content/uploads/2019/09/google-1015752_960_720.png"
                        alt="" width="25">
                </button>

                <button mat-button color="primary" aria-label="Follow">
                    <img src="https://www.dfmalherbe.co.za/wp-content/uploads/2016/01/facebook-logo-png-transparent-background.png"
                        alt="" width="25">
                </button>
            </div>

            <div fxLayout="column">
                <p class="p-20 font-size-14 line-height-18 text-justify">
                    Al registrarme, acepto los <a [routerLink]="'/terminos-condiciones'">Términos y condiciones</a> de
                    Tareazos y las pautas de la comunidad y las políticas
                    de privacidad.
                </p>
            </div>
            <div class="text-center">
                <button [routerLink]="'/home'" mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                </button>
            </div>




        </div>
    </div>

</div>