<div id="login" fxLayout="column" fxLayoutAlign="center center">
    <div id="login-form-wrapper">

        <div id="login-form" fusePerfectScrollbar>
            <div class="logo">
                <img src="assets/images/logos/logo.png" />
            </div>

            <form name="frmSetNewPassword" [formGroup]="frmSetNewPassword" novalidate *ngIf="code">
                <h4 class="subtitle is-6 has-text-grey">Por favor ingresa y confirma tu nueva contraseña</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Contraseña requerida
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirma la contraseña</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" />
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Confirmación requerida
                    </mat-error>
                </mat-form-field>

                <button type="button" mat-flat-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="!frmSetNewPassword.valid" (click)="setPassword()">
                    Cambiar password
                </button>


                <mat-divider class="mt-24"></mat-divider>

            </form>

            <form name="loginForm" [formGroup]="loginForm" *ngIf="!code">
                <h4 class="subtitle is-6 has-text-grey">Ingresa el correo electrónico con el que te registraste en Tareazos</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="
                            !loginForm.get('email').hasError('required') &&
                            loginForm.get('email').hasError('email')
                        ">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button type="button" mat-flat-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="!loginForm.valid" (click)="sendPasswordResetEmail()">
                   Enviar Correo de Confirmación
                </button>
            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">

                <a [routerLink]="'/auth/login'" class="link">Regresar a Inicio de sesión</a>
            </div>
        </div>
    </div>
</div>